


/*NAV BAR*/
.navbar {
   margin-bottom: 0px;
   opacity: 0.8;
   font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
   font-size: 12px;
   font-weight: 800;
   letter-spacing: 1px;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
  opacity: 1;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: #8c8c8c;
  opacity: 1;
}


.nav.navbar-nav.navbar-right li a.active {
  color: #A8A8A8;
  opacity: 1;
 }



/*PAGE FORMATTING*/
body{
  font-style: normal;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: "600";
  font-size: 20px;
}

hr{
  width: 80%;
  color: white;
}

.hr-no-margin{
  margin-top: 0px;
  margin-bottom: 0px;
}

.child{
  padding: 5% 0;
}

.container{
  padding: 0px;
}

.content {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(13px);
  filter: blur(0px);
  color: white;
}

.image {
  max-width:100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.image img{
  max-width:100%;
  height: 336px;
}

/*TEXT FORMATTING*/
 h1{
  font-style: normal;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 60px !important;
  padding-top: 3%;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

.main-text{
    font-size: 28px;
    padding-right: 20px;
}


/*HOME PAGE*/
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*TRAINING PAGE*/
.background-image-training {
  height:100%;
  width:100%;
  text-align:center;
  background: url('../images/SIDE SQUAT.jpg') no-repeat center;
  background-size:cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: absolute;
    left:0;
    top: 0;
}

.child-training{
  padding: 4% 0;
}

/*NUTRITION PAGE*/
.background-image-nutrition {
  height:100%;
  width:100%;
  text-align:center;
  background: url('../images/RUNNING SIDE.jpg') no-repeat center;
  background-size:cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: absolute;
    left:0;
    top: 0;
}

.child-nutrition{
  padding: 8% 0;
}

/*CALIBRATION PAGE*/
.background-image-calibration {
  height:100%;
  width:100%;
  text-align:center;
  background: url('../images/RUNNING GIRL .jpg') no-repeat center;
  background-size:cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: absolute;
    left:0;
    top: 0;
}

.child-calibration{
  padding: 10% 0;
}

/*CONTACT PAGE*/
.background-image-contact {
  height:100%;
  width:100%;
  text-align:center;
  background: url('../images/SQUAT GUY.jpg') no-repeat center;
  background-size:cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: absolute;
    left:0;
    top: 0;
}

.contact-form{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #797979;
    opacity: 0.8;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.contact-form h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="datetime"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form input[type="password"],
.contact-form textarea,
.contact-form select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    color: white;
    height: 45px;
}

.contact-form textarea{
    resize:none;
    overflow: hidden;
    height: 8%;
}
.contact-form input[type="button"],
.contact-form input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.contact-form input[type="button"]:hover,
.contact-form input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}


/*Ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

  .home{
    background-image: url('../images/SQUAT.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .row.parent {
    margin-right: 0px;
    margin-left: 0px;
  }

  video#bgvid {
  display: none;
  }

  .main-text{
      font-size: 24px;
      padding-right: 20px;
  }

  .child-nutrition{
    padding: 5% 0;
  }

  .child-calibration{
    padding: 5% 0;
  }
}

/*iphone*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .home{
    background-image: url('../images/SQUAT.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .row.parent {
    margin-right: 0px;
    margin-left: 0px;
  }

  img{
    width: 75%;
  }

  video#bgvid {
    display: none;
  }

  h1{
   font-style: normal;
   font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
   font-size: 50px !important;
   padding-top: 3%;
 }

 .child-training{
   display: none;
 }
 .child-nutrition{
   display: none;
 }
 .child-calibration{
   display: none;
 }

 .main-text {
    font-size: 20px;
  }

}
