<!DOCTYPE html>
<html>
<head>
  <title>DPD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="background-image-calibration"></div>
    <div class="content">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WebSiteName</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="/training">Training</a></li>
              <li><a href="/nutrition">Nutrition</a></li>
              <li><a class="active" href="/bodyCalibration">Body Calibration</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container text-center ">
        <h1>BODY CALIBRATION</h1>
        <hr>
        <div class="col-md-6">
          <div class="row main-text child">
            <p>Depending on your gender, age and height there are optimal body fat percentages that we recommend you should be in to maintain a healthy lifestyle. At the initial consultation we find out what your optimal percent will be then gear the training and nutrition towards
               that. Once we have all your data we place it onto a graph so we can visually track your progress along
                 your journey. If for any reason we start to see your progress plateau we can quickly manipulate
                 your training or diet to counter act this and keep you achieving and performing at your best. </p>
          </div>
        </div>
        <div class="col-md-6 child-calibration">
         <div class="image">
           <img src="assets/images/PT2.jpg">
         </div>
        </div>
      </div>
     </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="assets/js/bootstrap.js"></script>
   </body>
</html>
