<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DPD</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="background-image-calibration"></div>
    <div class="content">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="/training">Training</a></li>
              <li><a href="/nutrition">Nutrition</a></li>
              <li><a class="active" href="/bodyCalibration">Body Calibration</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container text-center ">
        <h1>BODY CALIBRATION</h1>
        <hr>
        <div class="col-md-6">
          <div class="row main-text child">
            <p>Depending on your gender, age and height there are optimal body fat percentages that we recommend you should be in to maintain a healthy lifestyle. At the initial consultation we find out what your optimal percent will be then gear the training and nutrition towards
               that. Once we have all your data we place it onto a graph so we can visually track your progress along
                 your journey. If for any reason we start to see your progress plateau we can quickly manipulate
                 your training or diet to counter act this and keep you achieving and performing at your best. </p>
          </div>
        </div>
        <div class="col-md-6 child-calibration">
         <div class="image">
           <img src="assets/images/PT2.jpg">
         </div>
        </div>
      </div>
     </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="assets/js/bootstrap.js"></script>
   </body>
</html>
