<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DPD</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/training">Training</a>
                  </li>
                  <li>
                      <a href="/nutrition">Nutrition</a>
                  </li>
                  <li>
                      <a href="/bodyCalibration">Body Calibration</a>
                  </li>
                  <li>
                      <a href="/contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('assets/images/RUNNING GIRL .jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="page-heading">
                      <h1>BODY CALIBRATION</h1>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container text-center">
    <div class="row">
      <div class="container text-center">
        <div class="col-md-12">
          <h3>Starting Point</h3>
          <p>Depending on your gender, age and height there are optimal body fat percentages that we
            recommend you should be in to maintain a healthy lifestyle. For males we recommend sub 14%
            as a good starting point and for women sub 23%. At the initial consultation, after taking your
            reading we find out what your optimal percent will be then gear the training and nutrition towards
            that. </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="container text-center">
        <div class="col-md-12">
          <h3>Body Fat Readings</h3>
          <p>Body calibration is one of the most effective ways of measuring progress. Using callipers, specific
            sites around the body are measured and once combined with hight and weight are put into an
            algorithm to calculate body fat, muscle mass and other readings that can be documented. Based
            on these readings, our team can also get a good understanding of hormone production in the body.
            When trying to get into shape hormones play a essential role in maximising results.  </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="container text-center">
        <div class="col-md-12">
          <h3>Chart Tracked</h3>
          <p>Once we have all your data we place it onto a graph so we can visually track your progress along
            your journey. If for any reason we start to see your progress plateau we can quickly manipulate
            your training or diet to counter act this and keep you achieving and performing at your best.  </p>
        </div>
      </div>
    </div>
  </div>

  <footer>
  </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

</body>
</html>
