<!DOCTYPE html>
<html lang="en">
<head>
  <title>HD Aesthetics - Contact Us</title>
  <meta charset="utf-8">
  <meta name="description" content="Get in contact with on of London's top personal trainers today to organise your custom training and nutrion plan">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="background-image-contact"></div>
    <div class="content">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/">
              <img class="navbar-image " src="assets/images/DPD-01_50.png" alt="HD Aesthetics Logo"/>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="/training">Training</a></li>
              <li><a href="/nutrition">Nutrition</a></li>
              <li><a href="/bodyCalibration">Body Calibration</a></li>
              <li><a class="active" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container text-center ">
        <h1>CONTACT US</h1>
        <hr>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="row main-text">
            <p>Want to get in touch with me? Fill out the form below to send me a message and we will get back in touch!</p>

            <div class="contact-form">
              <form action="contact" method="POST">
                <input type="text" id="name" name="name" required data-validation-required-message="Please enter a name." placeholder="Full Name" />
                <input type="email"id="email" name="email" required data-validation-required-message="Please enter an email." placeholder="Email" />
                <input type="text" id="phone" name="phone" required data-validation-required-message="Please enter a phone number." placeholder="Phone Number" />
                <textarea rows="5" placeholder="Message" id="message" name="message" required data-validation-required-message="Please enter a message." ></textarea>
                <input class="btn btn-default" type="submit" value="Send Message" />
              </form>
            </div>
          </div>
        </div>
      </div>
     </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

</body>

</html>
