<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HD Aesthetics - Personal Training</title>
    <meta name="description" content="HD Aesthetics brings complete structure and measurable progress by creating custom nutrion and training plan, both working in sync to produce the best results for each client">
    <link href="assets/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body class="home">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/">
          <img class="navbar-image " src="assets/images/DPD-01_50.png" alt="HD Aesthetics Logo"/>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#training">Training</a></li>
          <li><a href="#nutrition">Nutrition</a></li>
          <li><a href="#bodyCalibration">Body Calibration</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="col-lg-12">
          <video autoplay loop id="bgvid">
            <source src="assets/videos/DD_Grade_v1.mp4" type="video/mp4">
          </video>
        <div class="text-center" style="padding-top: 50px">
          <img id="home" src="assets/images/DPD-01_50.png" alt="HD Aesthetics Logo"/>
        </div>
        </div>
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	  <a  name="training"></a>
      <div class="content-section-a">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Training</h2>
              <p>DPD Aesthetics philosophy is based on tested proven methods dependant on clients goals.It takes a bodybuilding approach at muscle building and fat loss mixed in with periodisation strength training for increasing strength and muscle endurance. These two training styles put together are creating stronger leaner physiques in shorter times.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <div class="image">
                <img src="assets/images/ROPES FRONT.jpg" alt="training picture">
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.content-section-a -->

    <a  name="nutrition"></a>
      <div class="content-section-b">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 style="color: white" class="section-heading">Nutrition</h2>
              <p style="color: white">The plans we create here are strictly targeted towards the goals of our clients. You give an
                      overview of what you would like to achieve and our team of nutritionists will work together to build a
                      unique and specific programme. It will consist of both carb cycling and macro tracking. In our years
                      of training and successful results with 1,000s of happy clients has been proven quickest and most
                      effective for not only immediate results but longterm sustainability to. </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <div class="image">
                <img src="assets/images/DRINKING .jpg" alt="nutrition photo">
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.content-section-b -->


      <a  name="bodyCalibration"></a>
        <div class="content-section-a">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Body Calibration</h2>
                <p>Depending on your gender, age and height there are optimal body fat percentages that we recommend you should be in to maintain a healthy lifestyle. At the initial consultation we find out what your optimal percent will be then gear the training and nutrition towards
                       that. Once we have all your data we place it onto a graph so we can visually track your progress along
                         your journey. If for any reason we start to see your progress plateau we can quickly manipulate
                         your training or diet to counter act this and keep you achieving and performing at your best. </p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="image">
                  <img src="assets/images/PT2.jpg" alt="measure tracking">
                </div>
              </div>
            </div>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.content-section-a -->

	    <a  name="contact"></a>
        <div class="banner">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 style="color: white" class="section-heading">Contact Us</h2>
                <p>Want to get in touch with Us? Fill out the form below to send us a message and we will get back to you!</p>
                <div class="contact-form">
                  <form action="contact" method="POST">
                    <input type="text" id="name" name="name" required data-validation-required-message="Please enter a name." placeholder="Full Name" />
                    <input type="email"id="email" name="email" required data-validation-required-message="Please enter an email." placeholder="Email" />
                    <input type="text" id="phone" name="phone" required data-validation-required-message="Please enter a phone number." placeholder="Phone Number" />
                    <textarea rows="5" placeholder="Message" id="message" name="message" required data-validation-required-message="Please enter a message." ></textarea>
                    <input class="btn btn-default" type="submit" value="Send Message" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#training">Training</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#nutrition">Nutrition</a>
                        </li>
                        <li>
                            <a href="#bodyCalibration">Body Calibration</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; HD Personal Development. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.js"></script>

</body>

</html>
