<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DPD</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/training">Training</a>
                  </li>
                  <li>
                      <a href="/nutrition">Nutrition</a>
                  </li>
                  <li>
                      <a href="/bodyCalibration">Body Calibration</a>
                  </li>
                  <li>
                      <a href="/contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('assets/images/DRINKING .jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="page-heading">
                      <h1>NUTRITION</h1>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container text-center">
    <div class="row">
      <div class="container text-center">
        <div class="col-md-12">
          <h3>Our Plans</h3>
            <p>The plans we create here are strictly targeted towards the goals of our clients. You give an
              overview of what you would like to achieve and our team of nutritionists will work together to build a
              unique and specific programme. It will consist of both carb cycling and macro tracking. In our years
              of training and successful results with 1,000s of happy clients has been proven quickest and most
              effective for not only immediate results but longterm sustainability to. </p>
        </div>
       </div>
      </div>

      <hr>

      <div class="row">
        <div class ="container">
      	  <div class="col-md-6">
            <h3>Macros</h3>
              <p>Macros are very important to know in order to effectively understand how much nutrients your body needs to build muscle or loose fat. Without fuelling your body with the correct macros it will take significantly more time to reach your goals.</p>
              <p>Macro stands for macro nutrient and it is the proportion of which your overall daily Kcals are broken down into.
                 Macros are split into 3 sections of nutrients, Carbs, Proteins and fats.
                 Its the amount of each of these nutrients added together that makes your over all daily calories.
                 Dependant on your goals, macros should be portioned out to ensure you are giving your
                 body enough calories to fuel your it through training days and not to much for rest days.</p>
          </div>

          <div class="col-md-6">
            <h3>Carb cycling</h3>
            <p>People often have a bad relationship with carbs, not knowing wether they are good or bad or
              wether they should be eating low GI or high GI. Simply, carbs are essential to training and both low
              and high GI carbs have there place in a good diet. Cutting out carbs is cutting your bodies vital
              supply of energy causing a negative effect on both training and lifestyle. Carb cycling allows your
              body to utilise carbs and energy in the most effective way and also ensures you don't have to
              much excess that could potentially be stored as fat.</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

</body>
</html>
