<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DPD</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="background-image-nutrition"></div>
    <div class="content">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="/training">Training</a></li>
              <li><a href="/nutrition">Nutrition</a></li>
              <li><a href="/bodyCalibration">Body Calibration</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container text-center ">
          <h1>NUTRITION</h1>
        <hr>
        <div class="col-md-6">
           <div class="row main-text child">
             <p>The plans we create here are strictly targeted towards the goals of our clients. You give an
               overview of what you would like to achieve and our team of nutritionists will work together to build a
               unique and specific programme. It will consist of both carb cycling and macro tracking. In our years
               of training and successful results with 1,000s of happy clients has been proven quickest and most
               effective for not only immediate results but longterm sustainability to. </p>
           </div>
         </div>

         <div class="col-md-6 child">
           <div class="image">
             <img src="assets/images/DRINKING .jpg">
           </div>
         </div>
       </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
  </body>
</html>
