<!DOCTYPE html>
<html>
<head>
  <title>DPD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="background-image-nutrition"></div>
    <div class="content">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WebSiteName</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="/training">Training</a></li>
              <li><a class="active" href="/nutrition">Nutrition</a></li>
              <li><a href="/bodyCalibration">Body Calibration</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container text-center ">
          <h1>NUTRITION</h1>
        <hr>
        <div class="col-md-6">
           <div class="row main-text child">
             <p>The plans we create here are strictly targeted towards the goals of our clients. You give an
               overview of what you would like to achieve and our team of nutritionists will work together to build a
               unique and specific programme. It will consist of both carb cycling and macro tracking. In our years
               of training and successful results with 1,000s of happy clients has been proven quickest and most
               effective for not only immediate results but longterm sustainability to. </p>
           </div>
         </div>

         <div class="col-md-6 child-nutrition">
           <div class="image">
             <img src="assets/images/DRINKING .jpg">
           </div>
         </div>
       </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
  </body>
</html>
