<!DOCTYPE html>
<html lang="en">
<head>
  <title>HD Aesthetics - Message sent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="background-image-contact"></div>
    <div class="content">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/">
              <img height="50" width="80" id="home" src="assets/images/DPD-01_50.png" alt="HD Aesthetics Logo"/>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="/training">Training</a></li>
              <li><a href="/nutrition">Nutrition</a></li>
              <li><a href="/bodyCalibration">Body Calibration</a></li>
              <li><a class="active" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container text-center ">
        <h1>CONTACT US</h1>
        <hr>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="row main-text">
            <h2>Message Sent</h2>
            <p>Thank you for getting in touch, we will reply within the next 24 hours</p>
          </div>
        </div>

      </div>
     </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

</body>

</html>








    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="container text-center">
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->


              </div>
            </div>
          </div>

          <footer>
          </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

</body>

</html>
