<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DPD</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/training">Training</a>
                  </li>
                  <li>
                      <a href="/nutrition">Nutrition</a>
                  </li>
                  <li>
                      <a href="/bodyCalibration">Body Calibration</a>
                  </li>
                  <li>
                      <a href="/contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('assets/images/SIDE SQUAT.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="page-heading">
                      <h1>TRAINING</h1>
                  </div>
              </div>
          </div>
      </div>
  </header>

<div class="container text-center">
	<div class="row">
    	<p>DPD Aesthetics philosophy is based on tested proven methods dependant on clients goals.It takes a bodybuilding approach at muscle building and fat loss mixed in with periodisation strength training for increasing strength and muscle endurance. These two training styles put together are creating stronger leaner physiques in shorter times. Take a look at our testimonials.</p>
  </div>

  <div class="row">
  	<H3 style="margin-bottom:20px">Key Benefits</H3>
  </div>

  <div class="row">
    <p class="training-points">Maximise lean muscle growth and muscular endurance to help push your body to achieve better results in a shorter time</p>
  </div>
  <hr>

  <div class="row">
    <p class="training-points">Periodised strength programming with HITT incorporated to target strength and fitness</p>
  </div>
  <hr>

  <div class="row">
    <p class="training-points">Training splits broken into compound and isolation for maximum hypertrophy</p>
  </div>
  <hr>

  <div class="row">
    <p class="training-points">Mobility and myofacial release incorporated to reduce risk of injury and maximise muscular output</p>
  </div>
  <hr>

  <div class="row">
    <p class="training-points">Adding different stimulus to prevent plato and keep a continuous progression in lean mass, fitness and strength</p>
  </div>
  <hr>

  <div class="row">
    <p class="training-points">Growth, strength and conditioning breakdown</p>
  </div>
  <hr>

  <div class="row">
    <p class="training-points">Benefit of multiple trainer training</p>
  </div>
</div>

<!-- Footer -->
<footer>
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <ul class="list-inline text-center">
                   <li>
                       <a href="#">
                           <span class="fa-stack fa-lg">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                           </span>
                       </a>
                   </li>
                   <li>
                       <a href="#">
                           <span class="fa-stack fa-lg">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                           </span>
                       </a>
                   </li>
                   <li>
                       <a href="#">
                           <span class="fa-stack fa-lg">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                           </span>
                       </a>
                   </li>
               </ul>
               <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
           </div>
       </div>
   </div>
</footer>

    		<!-- <ul>
    			<li>Maximise lean muscle growth and muscular endurance to help push your body to achieve better results in a shorter time</li>
          <hr>
    			<li>Periodised strength programming with HITT incorporated to target strength and fitness</li>
          <hr>
    			<li>Training splits broken into compound and isolation for maximum hypertrophy</li>
          <hr>
    			<li>Mobility and myofacial release incorporated to reduce risk of injury and maximise muscular output</li>
          <hr>
    			<li>Adding different stimulus to prevent plato and keep a continuous progression in lean mass, fitness and strength</li>
          <hr>
    			<li>Growth, strength and conditioning breakdown</li>
          <hr>
    			<li>Benefit of multiple trainer training</li>
    	  </ul> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>

</body>
</html>
