<!DOCTYPE html>
<html>
<head>
  <title>HD Aesthetics - Personal Training</title>
  <meta charset="utf-8">
  <meta name="description" content="HD Aesthetics creates custom training plans to meet the specific goals of each client">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="background-image-training"></div>
    <div class="content">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/">
              <img class="navbar-image " src="assets/images/DPD-01_50.png" alt="HD Aesthetics Logo"/>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li> <a class="active" href="/training">Training</a></li>
              <li><a href="/nutrition">Nutrition</a></li>
              <li><a href="/bodyCalibration">Body Calibration</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container text-center ">
      <h1>TRAINING</h1>
      <hr>
      <div class="col-md-6">
	       <div class="row main-text child">
           <p>DPD Aesthetics philosophy is based on tested proven methods dependant on clients goals.It takes a bodybuilding approach at muscle building and fat loss mixed in with periodisation strength training for increasing strength and muscle endurance. These two training styles put together are creating stronger leaner physiques in shorter times.</p>
         </div>
       </div>

       <div class="col-md-6 child-training">
         <div class="image">
           <img src="assets/images/ROPES FRONT.jpg" alt="training picture">
         </div>
       </div>
     </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>

</body>
</html>
